<div>
  <div class="container">
      <div class="float-right">
          <button class="btn btn-primary m-2" type="button" [routerLink]="['../add-developer']" routerLinkActive="router-link-active">Add developer</button>
      </div>
  </div>
  <div class="container">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Email</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let developer of developers;index as i;" scope="row">
                <td>{{i+1}}</td>
                <td>{{developer.firstName}}</td>
                <td>{{developer.lastName}}</td>
                <td>{{developer.email}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
