<div class="container" *ngIf="isLoading">
  <div class="row rowmid justify-content-center align-items-center">
    <app-loader></app-loader>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="container">
      <div class="float-right">
          <button class="btn btn-primary my-4" type="button" [routerLink]="['../add-developer']" routerLinkActive="router-link-active">Add developer</button>
      </div>
  </div>
  <div class="container">
      <table class="table table-bordered table-hover">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Email</th>
                  <th scope="col">Skills</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let developer of developers;index as i;" scope="row">
                <td>{{i+1}}</td>
                <td>{{developer.firstName}}</td>
                <td>{{developer.lastName}}</td>
                <td>{{developer.email}}</td>
                <td><span class="badge badge-primary mx-2" *ngFor="let skill of developer.skills">{{skill}}</span></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
