<div class="container" *ngIf="isLoading">
  <div class="row rowmid justify-content-center align-items-center">
    <app-loader></app-loader>
  </div>
</div>
<div *ngIf="!isLoading">
  <div class="container-fluid">
    <div class="my-3">
      <h4>{{ project.name }} Board</h4>
    </div>
  </div>
  <div class="container-fluid component-border">
    <div class="float-right">
      <button
        class="btn btn-success"
        (click)="openModal(template)"
        type="button"
        *ngIf="userRole == 'ADMIN' || userRole == 'PM'"
      >
        Add Task
      </button>
    </div>
    <div class="lead">Task Progress Bar</div>
    <div class="progress my-4">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="progress"
      ></div>
    </div>

    <div cdkDropListGroup>
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          id="todo"
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of todo;index as i" cdkDrag>
            <h5>Title : {{ item.title }}</h5>
            <div>
              Description : {{ item.description }}
            </div>
            <div>
              AssignedTO : {{ item.assignedTo.firstName }} {{ item.assignedTo.lastName }}
            </div>
            <div class="mt-2">
              <button class="btn btn-warning mx-2" type="button" (click)="openModal(updateTemplate)">Update</button>
              <button class="btn btn-danger mx-2" type="button" (click)="deleteAlert(item._id)">Delete</button>
            </div>
            <ng-template #updateTemplate>
              <app-edit-task [task]="todo[i]" (updated)="modalRef.hide();getData();"></app-edit-task>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="example-container">
        <h2>In Progress</h2>

        <div
          cdkDropList
          id="inprogress"
          [cdkDropListData]="inprogress"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of inprogress;index as i;" cdkDrag>
            <h5>Title : {{ item.title }}</h5>
            <div>
              Description : {{ item.description }}
            </div>
            <div>
              AssignedTO : {{ item.assignedTo.firstName }} {{ item.assignedTo.lastName }}
            </div>
            <div class="mt-2">
              <button class="btn btn-warning mx-2" type="button" (click)="openModal(updateTemplate)">Update</button>
              <button class="btn btn-danger mx-2" type="button" (click)="deleteAlert(item._id)">Delete</button>
            </div>
            <ng-template #updateTemplate>
              <app-edit-task [task]="inprogress[i]" (updated)="modalRef.hide();getData();"></app-edit-task>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          id="done"
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of done;index as i" cdkDrag>
            <h5>Title : {{ item.title }}</h5>
            <div>
              Description : {{ item.description }}
            </div>
            <div>
              AssignedTO : {{ item.assignedTo.firstName }} {{ item.assignedTo.lastName }}
            </div>
            <div class="mt-2">
              <button class="btn btn-warning mx-2" type="button" (click)="openModal(updateTemplate)">Update</button>
              <button class="btn btn-danger mx-2" type="button" (click)="deleteAlert(item._id)">Delete</button>
            </div>
            <ng-template #updateTemplate>
              <app-edit-task [task]="done[i]" (updated)="modalRef.hide();getData();"></app-edit-task>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <app-add-task (added)="modalRef.hide(); getData()"></app-add-task>
</ng-template>




