<div class="container" *ngIf="isLoading">
  <div class="row rowmid justify-content-center align-items-center">
    <app-loader></app-loader>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="container">
      <p class="lead my-2">Project Manager: {{projectManager}}</p>
      <p class="mb-2">Developers List: </p>
      <table class="table table-bordered table-hover my-3">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Email</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let developer of developers;index as i;">
                <td>{{i+1}}</td>
                <td>{{developer}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
