<div class="list-group" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action" routerLink="project" routerLinkActive="active">Projects</a>
    <a class="list-group-item list-group-item-action" routerLink="report" routerLinkActive="active">Report</a>
    <a class="list-group-item list-group-item-action" routerLink="profile" routerLinkActive="active">Profile</a>
    <a *ngIf="userRole == 'ADMIN'" class="list-group-item list-group-item-action" routerLink="developer-details"
        routerLinkActive="active">Developers</a>
    <a *ngIf="userRole == 'ADMIN'" class="list-group-item list-group-item-action" routerLink="project-manager-details"
        routerLinkActive="active">Project Managers</a>
    <a (click)="logout()" class="list-group-item list-group-item-action">Logout</a>
</div>
