<div class="container" *ngIf="isLoading">
    <div class="row rowmid justify-content-center align-items-center">
        <app-loader></app-loader>
    </div>
</div>
<div class="container" *ngIf="!isLoading">

    <div class="component-border my-5">
        <h3 class="lead text-center text-primary my-3">
            Update Task In {{projectName}}
        </h3>

        <div>
            <form method="" [formGroup]="editTaskForm">

                <div class="form-group">
                    <label for="ProjectName">Task Title</label>
                    <input id="ProjectName" class="form-control" formControlName="title" type="text" name="" (keyup)="isInvalid=false">
                </div>
                <div class="form-group">
                    <label for="ProjectName">Task Description</label>
                    <textarea id="ProjectName" class="form-control " formControlName="description" type="text" name="" (keyup)="isInvalid=false"></textarea>
                </div>


                <div class="form-group">
                    <label for="ProjectManager">Assigned to : </label>
                    <select id="ProjectManager" formControlName="assignedTo" class="form-control">
                      <option disabled>Select developer</option>
                      <option *ngFor="let developer of developers" [value]="developer._id">{{developer.email}}</option>
                      </select>
                </div>
                <div>
                  <small class="text-danger" *ngIf="isInvalid">Form contains invalid fields..</small>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="button" (click)="onEditTaskClick()">Update Task</button>
                </div>
            </form>

        </div>
    </div>

</div>
