<div class="container">
    <div class="row rowmid justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="component-border">
                <div class="mb-3">
                    <h5 class="text-info text-center">LinkCode Tech</h5>
                </div>
                <form action="" [formGroup]='resetPasswordForm'>
                    <div class="form-group">
                        <label for="Oldpassword">Old Password</label>
                        <input id="Oldpassword" formControlName="oldPassword" class="form-control" type="password" name="">
                        <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched">
                          <small class="text-danger">Invalid Field</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input id="NewPassword" formControlName="newPassword" class="form-control" type="password" name="">
                        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                          <small class="text-danger">Invalid Field</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input id="ConfirmPassword" formControlName="confirmPassword" class="form-control" type="password" name="">
                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                          <small class="text-danger">Invalid Field</small>
                        </div>
                    </div>
                    <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('confirmPassword').touched">
                        <div *ngIf="this.resetPasswordForm.get('newPassword').value !== this.resetPasswordForm.get('confirmPassword').value">
                          <small class="text-danger">Both passwords must match</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="onResetClick()" type="submit">Set Password</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>


</div>
